html,body{font: 90% arial,sans-serif;background-color:#001A33;color:white;}
.head{background-color:#5E5EFF;border-radius: 10%}
article{background-color:#D1E0E0;color:black;}
.headers{background-color: #001A33;color: white}
img{float:left;border-color: black;border-radius: 100%;border-width: 300px}